<!-- cdn text -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<app-menu-home></app-menu-home>

<body>
<main class="container px-14 mx-auto">
  <!-- content-top -->
  <section class="content__top">
    <div>
                    <span class="info"
                    >Search about phone
                        <span class="element"></span>
                    </span>
      <h1 class="desc">The world champion phone’s information</h1>
    </div>
    <div class="search">
      <!-- Search -->
      <form action="">
        <input
          type="search"
          name=""
          id=""
          class="search__input"
        />
        <button class="search__btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
      </form>
    </div>
  </section>

  <!-- brands -->
  <section class="content__bot">
    <div class="title-bot">
      <div class="title-bot__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
          />
        </svg>
      </div>
      <h2 class="sub-title">Featured Brands</h2>
    </div>
    <div class="container-brands">
      <a routerLink="/brands/apple" class="brand-item">
        <img src="assets/img/brand/apple.png" alt="apple" />
      </a>
      <a routerLink="/brands/google" class="brand-item">
        <img src="assets/img/brand/google.png" alt="apple" />
      </a>
      <a routerLink="/brands/nokia" href="" class="brand-item">
        <img src="assets/img/brand/nokia.png" alt="apple" />
      </a>
      <a routerLink="/brands/samsung" class="brand-item">
        <img src="assets/img/brand/samsung.png" alt="apple" />
      </a>
      <a routerLink="/brands/huawei" class="brand-item">
        <img src="assets/img/brand/huawei.png" alt="apple" />
      </a>
      <a routerLink="/brands/xiaomi" class="brand-item">
        <img src="assets/img/brand/redmi.svg" alt="apple" />
      </a>
      <a routerLink="/brands/oneplus" class="brand-item">
        <img src="assets/img/brand/oneplus.svg" alt="apple" />
      </a>
      <a routerLink="/brands/vivo" class="brand-item">
        <img src="assets/img/brand/vivo.svg" alt="apple" />
      </a>
      <a routerLink="/brands/motorola" class="brand-item">
        <img src="assets/img/brand/Rectangle 8.svg" alt="apple" />
      </a>
      <a routerLink="/brands/oppo" class="brand-item">
        <img src="assets/img/brand/oppo.svg" alt="apple" />
      </a>
      <a routerLink="/brands/realme" class="brand-item">
        <img src="assets/img/brand/realme.svg" alt="apple" />
      </a>
      <a routerLink="/brands/meizu" class="brand-item">
        <img src="assets/img/brand/meizu.svg" alt="apple" />
      </a>
    </div>
  </section>
</main>
</body>

<app-footer></app-footer>
