<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<app-menu></app-menu>
<div class="container mx-auto px-14">

  <!-- content -->
  <div id="content">
    <div class="zoom">
      <div class="brand brand-head">
        <h2>Our mission & values</h2>
      </div>
    </div>

    <p class="sub-desc">
      At CELLINFO, we believe in the power of technology to
      deliver a better tomorrow. We live for the adventure of
      discovering innovations, dissecting what matters, finding
      hidden gems, and most importantly - revealing the truth for
      our readers.
    </p>
    <div class="brand sub-brand">
      <h2>Our mission & approach</h2>
      <p>
        Our mission is to lead people through the wonderful and
        empowering world of mobile technology.
      </p>
    </div>
    <div class="brand sub-brand">
      <div>
        <h2>The values that define ours spirit</h2>
        <p>
          We believes that phones shape our lives. From navigating the world, to navigating our relationships, from discovering new opportunities ahead of us, so much of what fills our lives happens through our phones.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto px-14">
    <div class="contact-info">
      <div class="title">
        <p>Follow CELLINFO</p>
      </div>
      <div class="brand-contact">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="contact">
        <div class="address">
          <img src="/assets/img/brand/contact.svg" alt="Address" />
          <img src="/assets/img/brand/logo.svg" alt="Cell info">
        </div>
        <div class="contact-desc">
          <p>
            Address of the Company: A-65, ACME Co. , Street no 12, New York
          </p>
          <p>
            Phone Numbers:  <a href="tel:+001-28272300">+001-28272300</a>, 2466, 2469
          </p>
          <p>
            Email Address: <a href="mailto:webmaster@cellinfo.com">webmaster@cellinfo.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
